In [1]:
import pandas as pd
import os

csv_files = [
    "../runs/nparam/task4_e10_yolo11n_reqloss0.0_vanilla_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_frank_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_yager_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_sugeno_weber_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_aczel_alsina_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_schweizer_sklar_rsched0/train2/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_minimum_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_lukasiewicz_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_hamacher_product_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_nilpotent_minimum_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_drastic_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss10.0_hamacher_rsched0/train/stats_pred_conf=0.05.csv",
    # "../runs/nparam/task4_e10_yolo11n_reqloss10.0_product_rsched0/train/stats_pred_conf=0.05.csv"
]

# csv_files = [
#     "../runs/nparam/task4_e10_yolo11n_reqloss0.0_vanilla_rsched0/train/stats_pred_conf=0.05.csv",
#     "../runs/nparam/task4_e10_yolo11n_reqloss1000.0_product_rsched0/train/stats_pred_conf=0.05.csv",
#     "../runs/nparam/task4_e10_yolo11n_reqloss500.0_product_rsched0/train/stats_pred_conf=0.05.csv",
#     "../runs/nparam/task4_e10_yolo11n_reqloss100.0_product_rsched0/train/stats_pred_conf=0.05.csv",
# ]

csv_files = [
    "../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.1_delta0.25_rsched0/train3/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.1_delta0.5_rsched0/train2/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.25_delta0.25_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.25_delta0.5_rsched0/train/stats_pred_conf=0.05.csv",
    "../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.5_delta0.5_rsched0/train/stats_pred_conf=0.05.csv"
]

dfs = [pd.read_csv(f, skiprows=1) for f in csv_files]

for df in dfs:
    df.columns = ['Video','Mean mAP','Mean full violation','Mean perbox violation','Mean Correct mAP', 'Total boxes','Total frames','Total violations', 'Total correct boxes']

last_row = [df.iloc[-1] for df in dfs]
# Drop last row
dfs = [df[:-1] for df in dfs]

# Number of rows per file
for i, df in enumerate(dfs):
    print(f"Number of rows in file {csv_files[i]}: {len(df)}")

# Use the videos that are included in all datasets
videos = set(dfs[0]["Video"])
for df in dfs[1:]:
    videos = videos.intersection(set(df["Video"]))

dfs_pruned = [df[df["Video"].isin(videos)] for df in dfs]

# Display top 5 rows
display(dfs_pruned[0].head())

# Number of videos
print(f"Number of videos: {len(videos)}")

# last_row

Number of rows in file ../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.1_delta0.25_rsched0/train3/stats_pred_conf=0.05.csv: 150
Number of rows in file ../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.1_delta0.5_rsched0/train2/stats_pred_conf=0.05.csv: 150
Number of rows in file ../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.25_delta0.25_rsched0/train/stats_pred_conf=0.05.csv: 150
Number of rows in file ../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.25_delta0.5_rsched0/train/stats_pred_conf=0.05.csv: 150
Number of rows in file ../runs/nparam/task4_e10_yolo11n_reqloss100.0_rl_beta0.5_delta0.5_rsched0/train/stats_pred_conf=0.05.csv: 150

,Video,Mean mAP,Mean full violation,Mean perbox violation,Mean Correct mAP,Total boxes,Total frames,Total violations,Total correct boxes
0,train_00008,0.439916,0.001599,0.296661,0.377721,338224,199,100338.0,199
1,train_00009,0.431673,0.000733,0.175710,0.412295,26447,185,4647.0,185
2,train_00013,0.492435,0.003063,0.561905,0.390241,366062,198,205692.0,198
3,train_00019,0.460500,0.001537,0.296331,0.277023,102571,198,30395.0,198
4,train_00020,0.577767,0.000845,0.181069,0.548648,122224,198,22131.0,198

Number of videos: 150

In [2]:
# Calculate mean of "Mean mAP" column
# mean_mAPs = [df["Mean mAP"].mean() for df in dfs_pruned]
mean_mAPs = [last_row[i]["Mean mAP"] for i in range(len(dfs_pruned))]

# Calculate the sum of Total violations column devided by the Total boxes column
# mean_violations = [df["Total violations"].sum() / df["Total boxes"].sum() for df in dfs_pruned]
mean_violations = [last_row[i]["Mean full violation"] for i in range(len(dfs_pruned))]

# Calculate the mean of "Mean mAP" column in the unpruned data
# mean_mAPs_unpruned = [f"{df["Mean mAP"].mean():.5f} ({len(df)})" for df in dfs]

# Calculate the sum of Total violations column devided by the Total boxes column in the unpruned data
# mean_violations_unpruned = [f"{df["Total violations"].sum() / df["Total boxes"].sum():.5f} ({len(df)})" for df in dfs]

mean_correct_map = [last_row[i]["Mean Correct mAP"] for i in range(len(dfs_pruned))]

# Show this in a table
df = pd.DataFrame({
    f"Mean mAP ({len(videos)})": mean_mAPs,
    "Mean violations": mean_violations,
    "Mean Correct mAP": mean_correct_map,
}, index=[" ".join(f.split("/")[-3].split("reqloss")[-1].split("_")[1:-1]) for f in csv_files])

# Highlight the best value in the Mean mAP column
styled_df = df.style.highlight_max(subset=[f"Mean mAP ({len(videos)})"], axis=0)
# Highlight the lowest value in the Mean violations column
styled_df = styled_df.highlight_min(subset=["Mean violations"], axis=0)

# Display the styled DataFrame
display(df)

                       Mean mAP (150)  Mean violations  Mean Correct mAP
rl beta0.1 delta0.25         0.305701         0.002415          0.249209
rl beta0.1 delta0.5          0.313737         0.002567          0.248915
rl beta0.25 delta0.25        0.311347         0.002390          0.249456
rl beta0.25 delta0.5         0.313973         0.002370          0.250355
rl beta0.5 delta0.5          0.322826         0.002438          0.249011